:where(html) {
  --blue1: #217ac1;
  --heading-line-height: 1.15;
  --green: #05c8ae;
  --space-10: clamp(28.83252rem, 24.713588rem + 20.594657vw, 43.248779rem);
  --base-line-height: 1.5;
  --purple: #353755;
  --text-fluid-000: clamp(0.64rem, 0.594286rem + 0.228571vw, 0.8rem);
  --text-fluid-9: clamp(7.450581rem, 6.918396rem + 2.660922vw, 9.313226rem);
  --text-fluid-0: clamp(1.rem, 0.928571rem + 0.357143vw, 1.25rem);
  --space-3: clamp(1.6875rem, 1.446429rem + 1.205357vw, 2.53125rem);
  --space-2: clamp(1.125rem, 0.964286rem + 0.803571vw, 1.6875rem);
  --text-fluid-00: clamp(0.8rem, 0.742857rem + 0.285714vw, 1.rem);
  --space-000: clamp(0.222222rem, 0.190476rem + 0.158730vw, 0.333333rem);
  --text-fluid-4: clamp(2.441406rem, 2.26702rem + 0.871931vw, 3.051758rem);
  --space-5: clamp(3.796875rem, 3.254464rem + 2.712054vw, 5.695313rem);
  --space-9: clamp(19.22168rem, 16.475725rem + 13.729771vw, 28.83252rem);
  --text-fluid-7: clamp(4.768372rem, 4.427774rem + 1.702990vw, 5.960464rem);
  --text-fluid-6: clamp(3.814697rem, 3.542219rem + 1.362392vw, 4.768372rem);
  --text-fluid-2: clamp(1.5625rem, 1.450893rem + 0.558036vw, 1.953125rem);
  --space-0: clamp(0.5rem, 0.428571rem + 0.357143vw, 0.75rem);
  --space-4: clamp(2.53125rem, 2.169643rem + 1.808036vw, 3.796875rem);
  --space-6: clamp(5.695313rem, 4.881696rem + 4.068080vw, 8.542969rem);
  --blue2: #0a61ab;
  --space-0000: clamp(0.148148rem, 0.126984rem + 0.105820vw, 0.222222rem);
  --space-7: clamp(8.542969rem, 7.322545rem + 6.102121vw, 12.814453rem);
  --space-1: clamp(0.75rem, 0.642857rem + 0.535714vw, 1.125rem);
  --text-fluid-10: clamp(9.313226rem, 8.647995rem + 3.326152vw, 11.641532rem);
  --text-fluid-1: clamp(1.25rem, 1.160714rem + 0.446429vw, 1.5625rem);
  --text-fluid-5: clamp(3.051758rem, 2.833775rem + 1.089914vw, 3.814697rem);
  --space-8: clamp(12.814453rem, 10.983817rem + 9.153181vw, 19.22168rem);
  --text-fluid-11: clamp(11.641532rem, 10.809994rem + 4.157690vw, 14.551915rem);
  --space-11: clamp(43.248779rem, 37.070382rem + 30.891985vw, 64.873169rem);
  --black: #041a1b;
  --text-fluid-0000: clamp(0.512rem, 0.475429rem + 0.182857vw, 0.64rem);
  --text-fluid-3: clamp(1.953125rem, 1.813616rem + 0.697545vw, 2.441406rem);
  --white: #fcfbff;
  --text-fluid-8: clamp(5.960464rem, 5.534717rem + 2.128737vw, 7.450581rem);
  --space-00: clamp(0.333333rem, 0.285714rem + 0.238095vw, 0.5rem);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-wrap: break-word;
}

html {
  font-size: 100%;
  line-height: var(--base-line-height);
}

h5, h4, h2, h1, h3 {
  line-height: var(--heading-line-height);
}

h1 {
  font-size: var(--text-fluid-6);
}

h2 {
  font-size: var(--text-fluid-5);
}

h3 {
  font-size: var(--text-fluid-4);
}

h4 {
  font-size: var(--text-fluid-3);
}

h5 {
  font-size: var(--text-fluid-2);
}

body {
  font-size: var(--text-fluid-1);
}

.byline {
  font-size: var(--text-fluid-0);
}

main {
  max-width: 48em;
  margin: 0 auto;
  padding-left: var(--space-0);
  padding-right: var(--space-0);
}

footer >* {
  max-width: 48em;
  margin: 0 auto;
  padding-left: var(--space-0);
  padding-right: var(--space-0);
}

footer >:first-child {
  padding-top: var(--space-1);
}

footer >:last-child {
  padding-bottom: var(--space-2);
}

h1 {
  margin-top: var(--space-4);
  margin-bottom: var(--space-2);
}

h2 {
  margin-top: var(--space-3);
  margin-bottom: var(--space-1);
}

h3 {
  margin-top: var(--space-2);
  margin-bottom: var(--space-0);
}

h4 {
  margin-top: var(--space-1);
  margin-bottom: var(--space-00);
}

header {
  margin-bottom: var(--space-3);
}

p {
  margin-bottom: var(--space-1);
}

pre {
  margin-bottom: var(--space-1);
  padding: var(--space-0);
}

blockquote {
  display: flex;
  flex-direction: column;
  gap: var(--space-00);
  padding: var(--space-0);
  margin-bottom: var(--space-1);
}

blockquote >:first-child {
  margin-top: 0;
}

blockquote >:last-child {
  margin-bottom: 0;
}

ul, ol {
  margin-bottom: var(--space-1);
  padding-left: var(--space-2);
}

body {
  font-family: system, sans-serif;
}

h5, h4, h2, h1, h3 {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--white);
  color: var(--black);
}

a {
  color: var(--blue2);
}

#magpie-footer1 {
  width: var(--space-5);
  position: fixed;
  bottom: 0;
  left: 1rem;
}

#magpie-footer2 {
  width: var(--space-6);
  position: fixed;
  bottom: 0;
  right: 1rem;
}